{
  "order": 2,
  "id": "strava-heatmap-global",
  "name": "Global Heatmap",
  "paint": {
    "raster-opacity": 0.7
  },
  "version": 8,
  "sources": {
    "strava-heatmap-global": {
      "type": "raster",
      "tiles": [
        "{your_strava_heatmap_proxy_url}/global/mobileblue/sport_Ride/{z}/{x}/{y}@2x.png"
      ],
      "tileSize": 256
    }
  },
  "layers": [
    {
      "id": "strava-heatmap-global-layer",
      "type": "raster",
      "source": "strava-heatmap-global",
      "paint": {
        "raster-opacity": 0.7
      }
    }
  ]
}
