{
  "order": 1,
  "id": "strava-heatmap-personal",
  "name": "Personal Heatmap",
  "paint": {
    "raster-opacity": 0.7
  },
  "version": 8,
  "sources": {
    "strava-heatmap-personal": {
      "type": "raster",
      "tiles": [
        "{your_strava_heatmap_proxy_url}/personal/purple/all/{z}/{x}/{y}@2x.png"
      ],
      "tileSize": 256,
      "maxzoom": 14
    }
  },
  "layers": [
    {
      "id": "strava-heatmap-personal-layer",
      "type": "raster",
      "source": "strava-heatmap-personal",
      "paint": {
        "raster-opacity": 0.7
      }
    }
  ]
}
