PGUSER=where2go
PGPASSWORD=<changeme>
PGDATABASE=where2go

# See other PG variables at https://www.postgresql.org/docs/current/libpq-envars.html

# Optional: Custom Valhalla endpoint for fetching road surface data (defaults to public OSM instance)
# VALHALLA_ENDPOINT=https://valhalla1.openstreetmap.de/trace_attributes
