
services:
  db:
    image: postgis/postgis:15-3.3
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    image: denoland/deno:latest
    working_dir: /app
    volumes:
      - ./backend:/app
      - ./frontend:/app/frontend
    ports:
      - "8070:8070"
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: 5432
    command: deno run --allow-net --allow-read --allow-env --watch main.ts
    depends_on:
      - db

  frontend-dev:
    image: node:24-alpine
    working_dir: /where2go/frontend
    volumes:
      - ./:/where2go
    ports:
      - "5174:5174"
    environment:
      VITE_API_URL: http://app:8070
    command: sh -c "corepack enable && yarn install && yarn dev"
    depends_on:
      - app

volumes:
  db-data:
