services:
  app:
    extends:
      file: docker-compose.base.yml
      service: app-base
    environment:
      NODE_ENV: production
    command: sh -c "corepack enable && yarn install && yarn run build && yarn run start"
    depends_on:
      - db

  db:
    extends:
      file: docker-compose.base.yml
      service: db

volumes:
  db-data:
