/* Bottom Panel */
.bottom-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-2-translucent);
  backdrop-filter: var(--blur-3);
  z-index: 20;
  padding: var(--size-4);
  border-top-left-radius: var(--radius-3);
  border-top-right-radius: var(--radius-3);
  box-shadow: var(--shadow-4);
  max-height: 40svh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  will-change: transform;

}
