/* Map Container */
.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  .maplibregl-ctrl-top-right {
    margin: var(--size-4);
    display: flex;
    flex-direction: column;
    gap: var(--size-4);

    .maplibregl-ctrl {
      margin: 0;
    }

    .maplibregl-ctrl-group {
      background-color: var(--surface-3-translucent);
      backdrop-filter: var(--blur-3);
      border: var(--border-width-1) solid var(--surface-3);
      border-radius: var(--radius-2);
      box-shadow: var(--shadow-3);
      overflow: hidden;

      button {
        border-color: var(--surface-3);
        background-color: transparent;
        width: 30px;
        height: 30px;

        &:hover {
          background-color: var(--surface-3);
        }

        &:focus-visible {
          outline: 2px solid var(--brand);
          outline-offset: -2px;
        }

        .maplibregl-ctrl-icon {
          filter: invert(1);
        }
      }
    }
  }

  .maplibregl-ctrl-bottom-right {
    margin-bottom: calc(var(--map-padding-bottom, 0px));
  }

  .maplibregl-ctrl-bottom-left {
    margin-bottom: calc(var(--map-padding-bottom, 0px));
  }

  .maplibregl-ctrl-attrib {
    margin: var(--size-4);
    color: var(--text-1);
    background-color: var(--surface-3-translucent);
    backdrop-filter: var(--blur-3);
    border: var(--border-width-1) solid var(--surface-3);
    box-shadow: var(--shadow-3);
    overflow: hidden;

    .maplibregl-ctrl-attrib-inner {
      color: var(--text-4);
    }

    .maplibregl-ctrl-attrib-button {
      filter: invert(1) brightness(0.8);
      margin: inherit;
      padding-inline: 0;
    }

    a {
      color: var(--text-3);
    }
  }

  .deck-tooltip {
    background: var(--surface-2-translucent) !important;
    backdrop-filter: var(--blur-3) !important;
    color: var(--text-1) !important;
    border: var(--border-size-1) solid var(--surface-3) !important;
    box-shadow: var(--shadow-3) !important;
    font-size: var(--font-size-0) !important;
    padding: var(--size-2) var(--size-3) !important;
    border-radius: var(--radius-2) !important;
    line-height: var(--font-lineheight-2) !important;
    font-family: var(--font-monospace-code) !important;
    z-index: 1000 !important;
    max-width: none !important;
    pointer-events: none !important;
  }
}
