/* Map Container */
.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.map-container .maplibregl-ctrl-top-right {
  margin: var(--size-4);
  display: flex;
  flex-direction: column;
  gap: var(--size-4);

  .maplibregl-ctrl {
    margin: 0;
    filter: invert(1);
  }
}
