.search-results-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
  padding: var(--size-4);
  padding-bottom: 0;
}

.search-results-header {
  padding-block: 0;
  border-bottom: 1px solid var(--surface-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--size-3);
  padding-bottom: var(--size-3);
}

.search-results-header h3 {
  margin: 0;
  font-size: var(--font-size-2);
  color: var(--text-2);
  font-weight: var(--font-weight-5);
}

.search-results-count {
  color: var(--text-3);
}

.search-results-list {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 2fr 8ch 11ch;
  column-gap: var(--size-3);
}

.search-result-row {
  display: grid;
  padding-block: var(--size-3);
  padding-inline: var(--size-3);
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: background-color var(--duration-fast);
  align-items: center;
  border-bottom: var(--border-size-1) solid var(--surface-3);
}

.search-result-row:hover {
  background-color: var(--surface-2);
}

.col-title {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  font-family: var(--font-monospace-code);
  font-weight: var(--font-weight-5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-1);

  &[data-completed="true"] {
    color: var(--text-3);
  }
}

.col-stat {
  font-family: var(--font-monospace-code);
  font-size: var(--font-size-1);
  color: var(--text-2);
  text-align: right;
}
