/* Accordion.css */
.AccordionItem {
  overflow: hidden;
  margin-top: 1px;
  border-bottom: var(--border-size-1) solid var(--surface-3);
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top: var(--border-size-1) solid var(--surface-3);
}

.AccordionHeader {
  display: flex;
  align-items: center;
  margin: 0;

  max-inline-size: none;
  font-family: inherit;
  height: 45px;
  flex: 1;
  gap: var(--size-3);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-size: var(--font-size-1);
  line-height: 1;
  color: var(--text-1);
}

.AccordionTrigger {
  padding: 0 var(--size-3);
  display: flex;
  flex: 1;
  gap: var(--size-3);
  align-items: center;
  background-color: transparent;
  appearance: none;
  border: none;
  cursor: pointer;
}

.AccordionTrigger:hover {
  background-color: var(--surface-2);
}

.AccordionContent {
  overflow: hidden;
  background-color: var(--surface-1);
  color: var(--text-2);
}

.AccordionContent[data-state='open'] {
  animation: slideDown var(--duration-moderate-1) var(--ease-out-3);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp var(--duration-moderate-1) var(--ease-out-3);
}

.AccordionContentInner {
  padding: var(--size-3);
}

.AccordionChevron {
  color: var(--text-3);
  transition: transform var(--duration-moderate-2) var(--ease-out-3);
  width: var(--size-3);
  height: var(--size-3);
}

.AccordionItem[data-state='open'] .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
