@import './LayerCard.css';

/* CheckboxCard specific styles */

.layer-card.checked {
  background-color: var(--surface-3);
  border-color: var(--brand);
  box-shadow: 0 0 0 1px var(--brand);
}

.checkbox-card {
  justify-content: space-between;
}

.layer-checkbox {
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--text-2);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer-checkbox[data-state='checked'] {
  background-color: var(--brand);
  border-color: var(--brand);
}

.checkbox-indicator {
  color: white;
}
