/* Dialog.css */
.DialogOverlay {
  background-color: var(--surface-2-translucent);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms var(--ease-out-3);
  z-index: 2000;
  backdrop-filter: blur(2px);
}

.DialogContent {
  background-color: var(--surface-1-translucent);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: var(--size-4);
  animation: contentShow 150ms var(--ease-out-3);
  z-index: 2001;
  border: var(--border-size-1) solid var(--surface-3);
  color: var(--text-1);
}

.dialog-actions {
  display: flex;
  margin-top: var(--size-5);
  justify-content: flex-end;
  gap: var(--size-3);
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: var(--font-weight-5);
  color: var(--text-1);
  font-size: var(--font-size-3);
}

.DialogDescription {
  margin: var(--size-2) 0 var(--size-4);
  color: var(--text-2);
  font-size: var(--font-size-1);
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-2);
  padding: 0 15px;
  font-size: var(--font-size-1);
  line-height: 1;
  font-weight: var(--font-weight-5);
  height: 35px;
  cursor: pointer;
  border: none;
}

.Button.violet {
  background-color: var(--text-1);
  color: var(--surface-1);
  box-shadow: var(--shadow-2);
}

.Button.violet:hover {
  background-color: var(--text-2);
}

.Button.green {
  background-color: var(--surface-3);
  color: var(--text-1);
}

.Button.green:hover {
  background-color: var(--surface-4);
}

.Button.red {
  background-color: var(--red-9);
  color: var(--red-1);
}

.Button.red:hover {
  background-color: var(--red-10);
}

.Fieldset {
  display: flex;
  gap: var(--size-4);
  align-items: center;
  margin-bottom: 15px;
  border: none;
  padding: 0;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-2);
  padding: 0 10px;
  font-size: var(--font-size-1);
  line-height: 1;
  color: var(--text-1);
  background-color: var(--surface-3);
  box-shadow: 0 0 0 1px var(--surface-4);
  height: 35px;
  border: none;
}

.Input:focus {
  box-shadow: 0 0 0 2px var(--surface-4);
  outline: none;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
