@import './LayerCard.css';

/* RadioCard specific styles */

.layer-card[data-state='checked'] {
  background-color: var(--surface-3);
  border-color: var(--brand);
  box-shadow: 0 0 0 1px var(--brand);
}
