/* Switch.css */
.SwitchRoot {
  padding: 0;
  width: 36px;
  height: 20px;
  background-color: var(--surface-3);
  border-radius: var(--radius-round);
  position: relative;
  box-shadow: var(--shadow-2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.SwitchRoot:focus {
  box-shadow: 0 0 0 2px var(--surface-4);
}

.SwitchRoot[data-state='checked'] {
  background-color: var(--brand);
}

.SwitchThumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-1);
  transition: transform var(--duration-quick-1) var(--ease-out-3);
  transform: translateX(2px);
  will-change: transform;
}

.SwitchRoot[data-state='checked'] .SwitchThumb {
  transform: translateX(18px);
}
